@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Name - @Model.Name</p>
<P>Birthyear - @Model.BirthYear</P>

<p><a href="/Employee/Edit/@Model.Id">Edit</a></p>
<p><a href="/Work/ShowWork/@Model.Id">Completed work</a></p>